<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baixe musicas do youtube</title>
</head>
<body>

    <nav>
        <div>
            <ul>
                <li><a href=""> Home </a></li>
                <li><a href=""> Search </a></li>
                <li><a href=""> Yoour Library </a></li>
            </ul>
        </div>
        <div>
            <dl>
                <dt> Playlists </dt>
                    <dd><a href=""> Create Playlist </a></dd>
                    <dd><a href=""> Liked Songs </a></dd>
            </dl>
        </div>
    </nav>

    <main>
        <section>
            <dl>
                <dt>Good morning</dt>
                <dd><a href="">musica 1</a></dd>
                <dd><a href="">musica 2</a></dd>
                <dd><a href="">musica 3</a></dd>
                <dd><a href="">musica 4</a></dd>
                <dd><a href="">musica 5</a></dd>
                <dd><a href="">musica 6</a></dd>
            </dl>
        </section>

        <section>
            <a href="">see more</a>
            <dl>
                <dt>Your heavy rotation</dt>
                <dd><a href="">playlis 1</a></dd>
                <dd><a href="">playlis 2</a></dd>
                <dd><a href="">playlis 3</a></dd>
                <dd><a href="">playlis 4</a></dd>
                <dd><a href="">playlis 5</a></dd>
            </dl>
        </section>
    </main>
    
</body>
</html>